
@{
    ViewBag.Title = "DiscountProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h5 class="font-weight-bolder mb-0">Quản lý giảm giá sản phẩm</h5>
            <a class="btn btn-primary" href="@Url.Action("Create", "DiscountProductManagement")">Thêm giảm giá sản phẩm</a>
        </nav>
        <div class="col-md-2">
            <div class="input-group input-group-outline my-3">
                <label class="form-label">Mã sản phẩm</label>
                <input type="text" id="search" class="form-control" />
            </div>
        </div>
    </div>
</nav>


<table class="table" style=" text-align: center">
    <tr>
        <th>STT</th>
        <th>Mã sản phẩm</th>
        <th>Mã giảm giá</th>
        <th>Phần trăm giảm</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th></th>

    </tr>
@*    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductID)</td>
            <td>@Html.DisplayFor(modelItem => item.DiscountID)</td>
            <td>@Html.DisplayFor(modelItem => item.DiscountPercent)</td>
            <td>@item.StartDate.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
            <td>@item.EndDate.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</td>

            <td style="width: 280px">
                <i></i>
                @Html.ActionLink("Sửa", "Edit", new { id = item.DiscountID }, new { @class = "btn btn-warning" })
                <i></i>
            </td>
        </tr>
    }*@
</table>
<script>
    var tables = document.getElementsByTagName('table');
    var table = tables[tables.length - 1];
    var rows = table.rows;
    for (var i = 1, td; i < rows.length; i++) {
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i));
        rows[i].insertBefore(td, rows[i].firstChild);
    }
</script>
<script>
    $("#search").on("keyup", function () {
        var value = $(this).val();

        $("table tr").each(function (index) {
            if (index !== 0) {

                $row = $(this);

                var id = $row.find("td").eq(2).text();

                if (id.indexOf(value) === -1) {
                    $row.hide();
                }
                else {
                    $row.show();
                }
            }
        });
    });
</script>