@model IEnumerable<DoAnChuyenNganh_SQLServer.Areas.Admin.Data.Invoice>
@{
    ViewBag.Title = "InvoiceManagement";
    Layout = "~/Areas/Admin/Views/AjaxLayout/_LayoutAjaxCRUD.cshtml";
}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h5 class="font-weight-bolder mb-0">Quản lý hóa đơn</h5>
        </nav>
        <div class="col-md-2">
            <div class="input-group input-group-outline my-3">
                <label class="form-label">Mã hóa đơn</label>
                <input type="text" id="search" class="form-control" />
            </div>
        </div>
    </div>
</nav>

<table class="table" style=" text-align: center">
    <tr>
        <th>STT</th>
        <th>Mã hóa đơn</th>
        <th>Tên khách hàng</th>
        <th>Ngày tạo</th>
        <th>Người chỉnh sửa</th>
        <th>Ngày chỉnh sửa</th>
        <th>Trạng thái</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.InvoiceID)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdateBy)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdateAt)</td>
            <td>
                @if (item.Status == true)
                {<label class="btn btn-success">Đã xuất</label>}
                else
                {
                    <label class="btn btn-dark">Đã hủy</label>
                }
            </td>
            <td style="width: 280px">
                @if (item.Status == true)
                {
                    @Html.ActionLink("Hủy hóa đơn", "UpdateInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("Xuất hóa đơn", "UpdateInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-info" })
                }
            </td>
            <td style="width: 280px">
                @if (item.Status == true)
                {
                    <a class="btn btn-warning" onclick="GetDetails('@item.InvoiceID')">Chi tiết hóa đơn</a>
                }
            </td>
        </tr>
    }

</table>
<!--Edit modal start -->
<div class="modal fade" id="EditModalID_Admin" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Edit_form" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm loại sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="font-robo">
                        <div class="wrapper wrapper--w680">
                            <div>
                                <div>
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group">
                                                <input class="input--style-1" id="txtID" type="text" placeholder="Mã hóa đơn" name="name" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group">
                                                <input class="input--style-1" id="txtOrderID" type="text" placeholder="Mã đơn đặt" name="name" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input class="input--style-1" id="txtCustomerName" type="text" placeholder="Tên khách hàng" name="name" readonly="readonly">
                                    </div>
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group">
                                                <input class="input--style-1" id="CreatedAt" type="text" placeholder="Ngày tạo hóa đơn" name="name" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group">
                                                <input class="input--style-1" id="CreatedBy" type="text" placeholder="Người tạo" name="name" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table" style=" text-align: center">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Giá bán</th>
                                            <th>Tổng tiền</th>
                                        </tr>

                                        <tbody id="invoiceInfo">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--end-->
<!--Ajax script-->
<script>
    function GetDetails(id) {
        $.ajax({
            url: "/invoicemanagement/invoicedetail",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            data: {id: id},
            success: function (response) {
                console.log(response);
                $('#txtID').val(response.InvoiceId);
                $('#txtOrderID').val(response.OrderID);
                $('#txtCustomerName').val(response.CustomerName);
                $('#txtCreatedAt').val(response.CreatedAt);
                $('#txtCreatedBy').val(response.CreatedBy);
                html = '';
                for (let i = 0; i < response.length; i++) {
                    html += '<tr><td>' + response[i].ProductName + '</td ><td' + response[i].Price + '</td><td>' + response[i].Quantity + '</td><td>' + response[i].TotalPayment + '</td></tr > ';
                }
                $('#invoiceInfo').html(html);
                $('#EditModalID_Admin').modal('show');
                $('#Edit_form').attr('action', '/Admin/InvoiceManagement/InvoiceDetail/' + id)
            },
            error: function (response) {
                alert(response.responseText);

            }
        });
        return false;
    }
</script>
<script>
    var tables = document.getElementsByTagName('table');
    var table = tables[tables.length - 1];
    var rows = table.rows;
    for (var i = 1, td; i < rows.length; i++) {
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i));
        rows[i].insertBefore(td, rows[i].firstChild);
    }
</script>
<script>
    $("#search").on("keyup", function () {
        var value = $(this).val();

        $("table tr").each(function (index) {
            if (index !== 0) {

                $row = $(this);

                var id = $row.find("td").eq(1).text();

                if (id.indexOf(value) === -1) {
                    $row.hide();
                }
                else {
                    $row.show();
                }
            }
        });
    });
</script>
