@model DoAnChuyenNganh_SQLServer.Models.Product
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <link href="~/Assets/css/ratting.css" rel="stylesheet" />
}
<main>
    <!-- product-details-start -->
    <section class="product-details pt-90 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="product__modal-box d-flex">
                        <div class="product__modal-nav mr-20">
                            <nav>
                                <div class="nav nav-tabs" id="img-product-details" role="tablist">

                                </div>
                            </nav>
                        </div>
                        <div class="tab-content mb-20" id="img-product-detailsContent">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="product__modal-content-2">
                        <h4><a id="nameProduct">Wooden container Bowl</a></h4>
                        <div class="product__price mb-25" id="suppierName">
                            <span>$96.00</span>
                        </div>
                        <div class="rating-shop mb-15">
                            <span class="product__details-color d-sm-flex align-items-center mb-25" id="avgRatting">
                                Average number of stars: 3 (<i class="fas fa-star" style="color: #ff8429"></i>)
                            </span>
                        </div>
                        <div class="product__price mb-25" id="priceProduct">
                            <span>$96.00</span>
                            <span class="old-price">$96.00</span>
                        </div>

                        <div class="product__details-color d-sm-flex align-items-center mb-25" id="productColor">
                        </div>
                        <div class="product__details-size d-sm-flex align-items-center mb-30" id="productOption">
                        </div>
                        <div class="pro-quan-area d-sm-flex align-items-center">
                            <div class="product-quantity-title mb-20">
                                <label>Quantity</label>
                            </div>
                            <div class="product-quantity mr-20 mb-20">
                                <div class="cart-plus-minus"><input id="quantityToCart" type="text" value="1" min="1"><div class="dec qtybutton">-</div><div class="inc qtybutton">+</div></div>
                            </div>
                            <div class="pro-cart-btn">
                                <button class="add-cart-btn mb-20"  id="btn_addtocart">+ Add to Cart</button>
                            </div>
                        </div>
                        <div class="product__tag mb-25">
                            Quantity in warehouse: <span id="quanity"> 50</span>
                        </div>
                        <div class="product__tag mb-25">
                            <span class="ct mr-20">Category:</span>
                            <span><a id="nameCategorize">Accessories,</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-70">
                <div class="col-xl-12">
                    <div class="product__details-tab">
                        <div class="product__details-tab-nav text-center mb-45">
                            <nav>
                                <div class="nav nav-tabs justify-content-start justify-content-sm-center" id="pro-details" role="tablist">
                                    <a class="nav-item nav-link active" id="des-tab" data-bs-toggle="tab" href="#des" role="tab" aria-controls="des" aria-selected="true">Description</a>
                                    <a class="nav-item nav-link" id="add-tab" data-bs-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">Additional Information</a>
                                    <a class="nav-item nav-link" id="review-tab" data-bs-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews (<span id="totalCommentMenu">03</span>)</a>
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content" id="pro-detailsContent">
                            <div class="tab-pane fade active show" id="des" role="tabpanel">
                                <div class="product__details-des mb-20" id="contentDes">

                                </div>
                            </div>
                            <div class="tab-pane fade" id="add" role="tabpanel">
                                <div class="product__desc-info mb-35" id="produtInformation">
                                    <ul>
                                        <li>
                                            <h6>Weight</h6>
                                            <span>@Model.Weight</span>
                                        </li>
                                        <li>
                                            <h6>Material</h6>
                                            <span>@Model.Material</span>
                                        </li>
                                        <li>
                                            <h6>Size</h6>
                                            <span>@Model.Size</span>
                                        </li>
                                        <li>
                                            <h6>Color</h6>
                                            <span id="infomationColor">Gray, Black</span>
                                        </li>
                                        <li>
                                            <h6>Option</h6>
                                            <span id="informationOption">S, M, L, XL</span>
                                        </li>
                                        <li>
                                            <h6>Programmable Button</h6>
                                            <span>@Model.ProgrammableButton	</span>
                                        </li>
                                        <li>
                                            <h6>Connection Type</h6>
                                            <span>@Model.ConectionType</span>
                                        </li>
                                        <li>
                                            <h6>Warranty</h6>
                                            <span>@Model.Warranty</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="review" role="tabpanel">
                                <div class="product__details-review mb-35">
                                    <div class="postbox__comments">
                                        <div class="postbox__comment-title mb-30">
                                            <h3>Reviews (<span id="totalComment">03</span>)</h3>
                                        </div>
                                        <div class="latest-comments mb-30">
                                            <ul id="detailComment">
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    @if (Session["Customer"]!= null)
            {
                <div class="post-comments-form">
                    <div class="post-comments-title mb-30">
                        <h3>Your Review</h3>
                        <div class="post-rating">
                            <span>Your Rating :</span>
                            <div class="rating" id="post-ratting">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                        </div>
                    </div>
                    <form id="contacts-form" class="conatct-post-form" action="#">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="contact-icon p-relative contacts-message">
                                    <textarea name="comments" id="comments" cols="30" rows="10" placeholder="Comments"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <button class="add-cart-btn" type="submit" id="btn_postComment">Post comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-details-end -->
    <!-- shop modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="~/Assets/img/products/quick-view/quick-view-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="~/Assets/img/products/quick-view/quick-view-2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="~/Assets/img/products/quick-view/quick-view-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="~/Assets/img/products/quick-view/quick-view-4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                <img src="~/Assets/img/products/quick-view/nav/quick-nav-1.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                                <img src="~/Assets/img/products/quick-view/nav/quick-nav-2.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                                <img src="~/Assets/img/products/quick-view/nav/quick-nav-3.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                                <img src="~/Assets/img/products/quick-view/nav/quick-nav-4.jpg" alt="">
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4 class="product__modal-title"><a href="product-details.html">Samsung C49J89: £875, Debenhams Plus</a></h4>
                                    <div class="product__modal-des mb-40">
                                        <p>Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt </p>
                                    </div>
                                    <div class="product__modal-stock">
                                        <span>Availability :</span>
                                        <span>In Stock</span>
                                    </div>
                                    <div class="product__modal-stock sku mb-30">
                                        <span>SKU:</span>
                                        <span>Samsung C49J89: £875, Debenhams Plus</span>
                                    </div>
                                    <div class="product__modal-review d-sm-flex">
                                        <div class="rating mb-15 mr-35">
                                            <ul>
                                                <li><a href="#">c</a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__modal-add-review mb-15">
                                            <span><a href="#">1 Review</a></span>
                                            <span><a href="#">Add Review</a></span>
                                        </div>
                                    </div>
                                    <div class="product__modal-price">
                                        <span>$560.00</span>
                                    </div>
                                    <div class="product__modal-form mb-30">
                                        <form action="#">
                                            <div class="pro-quan-area d-lg-flex align-items-center">
                                                <div class="product-quantity mr-20 mb-25">
                                                    <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                                </div>
                                                <div class="pro-cart-btn mb-25">
                                                    <button class="add-to-cart-btn">Add to cart</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="product__modal-links">
                                        <ul>
                                            <li><a href="#" title="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                            <li><a href="#" title="Compare"><i class="far fa-sliders-h"></i></a></li>
                                            <li><a href="#" title="Print"><i class="fal fa-print"></i></a></li>
                                            <li><a href="#" title="Print"><i class="fal fa-share-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- shop modal end -->

</main>
@section Footer{
    <script>
            $(document).ready(function () {
                GetInformation();
                AddTocart();
                GetFeedBack();
            });
        function GetInformation() {
                    $.ajax({
                        url: "/home/getinformation",
                        type: "Get",
                        data: { id: "@Model.ProductID" },
                        success: function (data) {
                            //fillhinh
                            var dataimgcontent = ``
                            var dataimgtap = ``
                            var price = CheckPrice(data);
                            //fill tab contend
                            if (data.image.length != 0) {
                                for (var i = 0; i < data.image.length; i++) {
                                    if (i == 0) {
                                        dataimgcontent += `<a class="nav-item nav-link active" id="pro-1-tab" data-bs-toggle="tab" href="#pro-1" role="tab" aria-controls="pro-1" aria-selected="true">
                                        <div class="product__nav-img w-img">
                                        <img src="data:image/gif;base64,${data.image[i]}" style="width: 90px;height: 115px; alt="">
                                        </div>
                                    </a>`;
                                        dataimgtap += `<div class="tab-pane fade active show" id="pro-1" role="tabpanel" aria-labelledby="pro-1-tab">
                                                    <div class="product__modal-img product__thumb w-img">
                                        <img src="data:image/gif;base64,${data.image[i]}" style="width: 470px;height: 600px; alt="">
                                                       ${price[1]}
                                                    </div>
                                                </div>`;
                                    } else {
                                        dataimgcontent += `<a class="nav-item nav-link" id="pro-${i+1}-tab" data-bs-toggle="tab" href="#pro-${i+1}" role="tab" aria-controls="pro-${i+1}">
                                        <div class="product__nav-img w-img">
                                        <img src="data:image/gif;base64,${data.image[i]}" style="width: 90px;height: 115px; alt="">
                                        </div>
                                    </a>`;
                                        dataimgtap += `<div class="tab-pane fade" id="pro-${i + 1}" role="tabpanel" aria-labelledby="pro-${i + 1}-tab">
                                                    <div class="product__modal-img product__thumb w-img">
                                        <img src="data:image/gif;base64,${data.image[i]}" style="width: 470px;height: 600px; alt="">
                                                        ${price[1]}
                                                    </div>
                                                </div>`
                                    }
                                }
                            } else {
                                dataimgcontent += `<div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="/Assets/img/EmptyBox/Empty.png" style = "width: 90px;height: 115px;" alt="">
                                            </div>
                                        </div>`;
                                dataimgtap += `<li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                <img src="/Assets/img/EmptyBox/Empty.png" style="width: 85px;height: 85px;" alt="">
                                            </button>
                                        </li>`
                            }
                            $("#img-product-details").html(dataimgcontent);
                            $("#img-product-detailsContent").html(dataimgtap);

                            // fill data
                            $("#nameProduct").text(data.DisplayName);
                            var ratting = data.Rating == null ? `This product The product has not been rated yet` : `Average number of stars: ${data.Rating} (<i  class="fas fa-star" style="color: #ff8429"></i>)`
                            $("#avgRatting").html(ratting);
                            var sellprice = `<span>${data.SellPrice} VND</span>`
                            if (data.SalePrice != null) {
                                sellprice = `<span>${data.SalePrice} VND</span>
                                        <span class="old-price">${data.SellPrice} VND</span>`
                            }
                            $("#priceProduct").html(sellprice);
                            $("#suppierName").html(`<span>Supplier name: ${data.Supplier}</span>`);
                            // fill color
                            var color = `<span>Color:</span>
                            <div>`;
                            var imformation=``;
                            for (var i = 0; i < data.Color.length; i++) {
                                color += `<input type="radio" class="btn-check" id="color${i + 1}" name="color" autocomplete="off">
                                <label class="btn btn-sm btn-outline-warning" onclick="GetColor('${data.ProductID}','${data.Color[i][0].ColorID}')" for="color${i + 1}">${data.Color[i][0].DisplayName}</label>`
                                imformation += data.Color[i][0].DisplayName + ", ";
                            }
                            color += `</div>`;
                            $("#infomationColor").text(imformation.slice(0,-2));
                            $("#productColor").html(color);
                            // fill option
                            var option = `<span>Option:</span> <div>`;
                            var informationOption = ``;
                            for (var i = 0; i < data.Option.length; i++) {
                                option += `<input type="radio" class="btn-check" id="option${i + 1}" name="option" autocomplete="off">
                                <label class="btn btn-sm btn-outline-warning" onclick="GetOption('${data.ProductID}','${data.Option[i][0].OptionID}')" for="option${i + 1}">${data.Option[i][0].DisplayName}</label>`
                                informationOption += data.Option[i][0].DisplayName + `, `
                            }
                            option += `</div>`;

                            $("#productOption").html(option);
                            $("#informationOption").text(informationOption.slice(0, -2));
                            // fill quantity
                            $("#quanity").text(data.Quantity);
                            $("#nameCategorize").text(data.Categorize)
                            var content = `<p>${data.Description}</p>`;
                            if (data.Description == null) {
                                content = `<p>This product has no description</p>`
                            }
                            $("#contentDes").html(content)
                            // show review
                            $("#totalComment").text(data.Comment.length);
                            $("#totalCommentMenu").text(data.Comment.length);
                            var content = ``;
                            if (data.Comment.length == 0) {
                                content = `No body comment this product`;
                            } else {
                                for (var i = 0; i < data.Comment.length; i++) {
                                    content +=`<li>
                                                    <div class="comments-box">
                                                        @*<div class="comments-avatar">
                                                            <img src="~/Assets/img/author/avater-1.png" alt="">
                                                        </div>*@
                                                        <div class="comments-text">
                                                            <div class="avatar-name">
                                                                <h5>${data.Comment[i].DisplayName}</h5>
                                                            </div>
                                                            <div class="user-rating">
                                                                <ul>
                                                                   ${ShowStar(data.Comment[i].Rating)}
                                                                </ul>
                                                            </div>
                                                            <p>${data.Comment[i].Content}.</p>
                                                        </div>
                                                    </div>
                                                </li>`
                                }
                            }
                            $("#detailComment").html(content);
                        }
                    });

        }

        //get quantity in warehouse
        var color1 = null;
        var option1 = null;
        var quantity = null;
        function GetColor(id, color) {
            color1 = color;
            $.ajax({
                url: "/home/getquantity",
                type: "Get",
                data: { productid: id, colorID: color1, optioID : option1 },
                success: function (data) {
                    quantity = data;
                    $("#quanity").text(data);
                }
            })
        }
        function GetOption(id, option) {
            option1 = option;
            $.ajax({
                url: "/home/getquantity",
                type: "Get",
                data: { productid: id, colorID: color1, optioID: option1 },
                success: function (data) {
                    quantity = data;
                    $("#quanity").text(data);
                }
            })
        }

        //add to card


        function AddTocart() {
            $("#btn_addtocart").click(function () {
                console.log($("#quantityToCart").val());
                var message = color1 == null ? "Color not null" : option1 == null ? "Option not null" : $("#quantityToCart").val() > quantity ? "Quantity in warehouse not enought!" : typeof (quantity) == "string" ? "Not ready!" : null;
                if (message != null) {
                    alert(message);
                } else {
                    $.ajax({
                        url: "/cart/addtocart",
                        type: "Post",
                        data: {
                            OptionID: option1,
                            ColorID: color1,
                            ProductID: '@Model.ProductID',
                            Quantity: $("#quantityToCart").val()
                        },
                        success: function (item) {
                            if (item.url != null) {
                                window.location.href = item.url;
                            } else {
                                alert(item.message);
                                GetCart();
                            }
                        }
                    })
                }
            })
        }


        function GetFeedBack() {
            $("#btn_postComment").click(function (e) {
                $.ajax({
                    url: "/user/uploadfeedback",
                    type: "Post",
                    data: {
                        ProductID: '@Model.ProductID',
                        Content: $("#comments").val(),
                        Rating: $('input[name="rating"]:checked').val()
                    },
                    success: function (data) {
                        console.log(data);
                    }
                })
                e.preventDefault();
            })
        }



        /////////////////////////////////////////////////////funtion///////////////////////////////////////

        function CheckPrice(data) {
            var price1 = `<div class="product__price">
                                        <span class="price">${data.SellPrice}VND</span>
                                    </div>`;
            var percent1 = ``;
            if (data.SalePrice != null) {
                price1 = `<div class="product__sale-price">
                                            <span class="price old-price">${data.SellPrice}VND</span>
                                            <span class="price new-price">${data.SalePrice}VND</span>
                                        </div>`
                percent1 = `<div class="product__sale ">
                                <span class="new">new</span>
                                <span class="percent">-${ data.DiscountPercent }%</span>
                            </div>`;
            }
            return [price1, percent1]
        }
        // show start comment
        function ShowStar(ratting) {
            var content = ``;
            for (var i = 0; i < 5; i++) {
                if (i < ratting) {
                    content += `<li><a href="#"><i class="fas fa-star"></i></a></li>`;
                } else {
                    content += `<li><a href="#"><i class="fal fa-star"></i></a></li>`;
                }
            }
            return content;
        }
    </script>
}

